<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OctopusBaseApplicationDirectory" value="D:\OctopusTentacle\Applications\UAT\StopWatchez\" />
    <add key="ExePath" value="Timer.Reminders/bin/Release/Timer.Reminders.exe" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>